body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

#map {
    height: 100vh;
    margin-left: 250px; /* para no cubrir el mapa */
}
